/* style.css */

body{
  color: #000; 
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
} 

nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

ul{
  color: #FFFFFF
}

h1{
  font-family: 'Anton', sans-serif;
 color: rgb(128, 128, 0);
  font-weight: bolder;
  font-size: 1.5em;
}

h2 {
  font-family: 'Anton', sans-serif;
  color: rgb(128, 128, 0);
  font-weight: bolder;
  font-size: 1.5em;
}

p{
  color: white;
}

a { 
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  color: rgb(225, 0, 152);
}

#logo{
  color: #FFFFFF;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  float: left;
  margin-left: 50px;
}

/* Mis en forme de la baseline */
#baseline{
  background-image: url(3025696718_2a84e35fdc_b-1.jpg);
  text-align: center;
  background-size: cover;
  padding: 100px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#baseline h1 {
  color: white;
  font-size: 50px;
}

#baseline a:hover {
  color: white;
  font-size: 40px;
  font-weight: lighter;
  text-decoration: none
  position: relative;
  top:1px;
;
}

 #apropos{
  margin: 0 auto;
  width: 80%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  top:1px;

}

.feature,.defi{
  border: 1px solid #F2F2F2;
  background-color: rgb(244, 102, 27);
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
}

#welcome{
  background-color: #41A3C0;
  text-align: center;
  padding: 50px;
  color: white;
}

#welcome h4{
 font-size: 50px;
}

#defis{
  margin-top:100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;

}

#defis h2 {
  color: rgb(225, 0, 152);

}

footer {
  text-align:center;
  background-color: rgb(165, 38, 10);
}



footer p {
   color: white;
   margin: 0;
   padding: 0;
}
